<div id="section21" class="container-fluid section">
    <div class="container">
        <center>
            <h1><span ng-bind="lang['ProjectTitle']"></span></h1>
        </center>
        <br>
        <div class="row">
            <!-- <div class="col-sm-6 no-padding-xs">
                <img src="images/banner.png" alt="EUCA Banner" style="width: 100%" />
            </div> -->
            <!-- <div class="col-sm-6 no-padding-xs"> -->
                <br class="visible-xs" />
                <span class="text-justify" ng-if="activeLang.title=='EN'">
                        <p>On September 28-29, Competition Agency of Georgia, in collaboration and with the support of the EU
                        project “Support to the Georgian Competition Agency,” together with Ivane Javakhishvili Tbilisi State
                        University hosts the Second International Competition Conference, “Competition Policy, Trends and
                        Challenges”</p>

                        <p>The conference is dedicated to 100 th Anniversaries of the First Democratic Republic of Georgia and Ivane
                        Javakhishvili Tbilisi State University.
                        Conference shall be attended by over 30 representatives from different countries and international
                        organizations and over 150 representatives of Georgians state institutions, academia, business sector
                        and civil society.</p>

                        <p>The Chairman of the Competition Agency of Georgia, Ambassador of the European Union to Georgia,
                        Rector of the Tbilisi State University, Members of the Government of Georgia, Team Leader of the EU
                        Project, high rank officials from leading international organizations (UNCTAD, OECD) will deliver
                        speeches at the conference.</p>

                        <p>Heads and representatives of the competition authorities from different countries will make
                        presentations on main trends and challenges in the field of competition, will share experience of their
                        countries and hold discussions with colleagues.</p>

                        <p>In the framework of the conference Georgian Competition Agency will sign Memorandums of
                        Understanding with foreign competition authorities and the office of the business ombudsman of
                        Georgia.</p>
                        
                        </span>
                <span class="text-justify" ng-if="activeLang.title=='GE'">
                        <p>28-29 სექტემბერს, საქართველოს კონკურენციის სააგენტო ევროკავშირის პროექტის
„საქართველოს კონკურენციის სააგენტოს მხარდაჭერა“ თანამშრომლობითა და
მხარდაჭერით, ივანე ჯავახიშვილის სახელობის თბილისის სახელმწიფო
უნივერსიტეტთან ერთად მასპინძლობს კონკურენციის პოლიტიკის მეორე
საერთაშორისო კონფერენციას - „კონკურენციის პოლიტიკა: ტენდენციები და
გამოწვევები“.</p>

<p>კონფერენცია ეძღვნება საქართველოს პირველი დემოკრატიული რესპუბლიკის და ივანე
ჯავახიშვილის სახელობის თბილისის სახელმწიფო უნივერსიტეტის დაარსებიდან 100
წლის იუბილეებს.</p>

<p>კონფერენციას დაესწრება 30-ზე მეტი ქვეყნის და საერთაშორისო ორგანიზაცის
წარმომადგენელი, 150-ზე მეტი მონაწილე სახელმწიფო ინსტიტუტებიდან, სამეცნიერო
წრეებიდან, ბიზნეს სექტორიდან და სამოქალაქო საზოგადოებიდან.
კონფერენციაზე სიტყვით წარდგებიან საქართველოს კონკურენციის სააგენტოს
თავმჯდომარე, ევროკავშირის ელჩი, თბილისის სახელმწიფო უნივერსიტეტის რექტორი,
საქართველოს მთავრობის წევრები, ევროკავშირის პროექტის გუნდის ლიდერები,
წამყვანი საერთაშორისო ორგანიზაციების მაღალი რანგის წარმომადგენლები (UNCTAD,
OECD).</p>

<p>მოწვეული სტუმრები ჩაატარებენ პრეზენტაციას კონკურენციის სფეროში მთავარ
ტენდენციებსა და გამოწვევებზე, გაგვიზიარებენ საკუთარი ქვეყნის გამოცდილებას და
გამართავენ დისკუსიებს კოლეგებთან.</p>

<p>კონფერენციის ფარგლებში გაფორმდება ურთიერთანამშრომლობის მემორანდუმები
საქართველოს კონკურენციის სააგენტოსა და მეგობარი ქვეყნების კონკურენციის
ორგანოებთან და საქართველოს ბიზნესომბუდსმენის აპარატთან.    </p>
                        </span>
            <!-- </div> -->
        </div>
    </div>
</div>