<div id="section21" class="container-fluid section">
    <div class="container">
        <center>
            <h1><span ng-bind="lang['ProjectTitle']"></span></h1>
        </center>
        <br>
        <div class="row">
            <!-- <div class="col-sm-6 no-padding-xs">
                <img src="images/banner.png" alt="EUCA Banner" style="width: 100%" />
            </div> -->
            <!-- <div class="col-sm-6 no-padding-xs"> -->
                <br class="visible-xs" />
                <span class="text-justify" ng-if="activeLang.title=='EN'">
                        <p>On September 28-29, With the Support of the European Union Competition Agency of Georgia and
                                Ivane Javakhishvili Tbilisi State University, host the Second International Competition Conference,
                                “Competition Policy, Trends and Challenges.”</p>

                        <p>The conference is dedicated to 100 th Anniversaries of the First Democratic Republic of Georgia and
                                Ivane Javakhishvili Tbilisi State University.</p>

                        <p>Conference shall be attended by over 30 representatives from different countries and international
                                organizations and over 150 representatives of Georgians state institutions, academia, business sector
                                and civil society.</p>

                        <p>The Chairman of the Competition Agency of Georgia, the Head of Cooperation Section of the Delegation
                                of European Union to Georgia, Rector of the Tbilisi State University, Members of the Government of
                                Georgia, Team Leader of the EU Project, high officials from leading international organizations (UNCTAD,
                                OECD) will deliver speeches at the conference.</p>

                        <p>Heads and representatives of the competition authorities from different countries will make
                                presentations on main trends and challenges in the field of competition, will share experience of their
                                countries and hold discussions with colleagues.</p>

                        <p>In the framework of the conference Georgian Competition Agency will sign Memorandums of
                                Understanding with foreign competition authorities, as well as with other Georgian Institutions.</p>
                        
                        </span>
                <span class="text-justify" ng-if="activeLang.title=='GE'">
                        <p>საქართველოს პირველი დემოკრატიული რესპუბლიკის და ივანე
                                ჯავახიშვილის სახელობის თბილისის სახელმწიფო უნივერსიტეტის 100 წლის
                                იუბილეებთან დაკავშირებით, საქართველოს კონკურენციის და ივანე
                                ჯავახიშვილის სახელობის თბილისის სახელმწიფო უნივერსიტეტი,
                                ევროკავშირის მხარდაჭერით, 2018 წლის 28-29 სექტემბერს მასპინძლობს -
                                კონკურენციის პოლიტიკის მეორე საერთაშორისო კონფერენციას „კონკურენციის
                                პოლიტიკა: ტენდენციები და გამოწვევები“</p>

<p>კონფერენციას დაესწრება 30-ზე მეტი ქვეყნის და საერთაშორისო
        ორგანიზაციის წარმომადგენელი, 150-ზე მეტი მონაწილე სახელმწიფო
        ინსტიტუტებიდან, სამეცნიერო, ბიზნეს და სამოქალაქო სექტორებიდან.</p>

<p>კონფერენციაზე სიტყვით წარსდგებიან საქართველოს კონკურენციის
        სააგენტოს თავმჯდომარე ნოდარ ხადური, ევროკავშირის წარმომადგენლობის
        პროექტების განყოფილების უფროსი ვინსენტ რეი, თბილისის სახელმწიფო
        უნივერსიტეტის რექტორი გიორგი შარვაშიძე, საქართველოს მთავრობის
        წევრები, ევროკავშირის პროექტის გუნდის ლიდერი აურელიო ლატორე, წამყვანი
        საერთაშორისო ორგანიზაციების მაღალი რანგის წარმომადგენლები (UNCTAD,
        OECD).</p>

<p>მოწვეული სტუმრები გააკეთებენ პრეზენტაციას კონკურენციის სფეროში
        მთავარ ტენდენციებსა და გამოწვევებზე, გაგვიზიარებენ საკუთარი ქვეყნის
        გამოცდილებას და გამართავენ დისკუსიებს.</p>

<p>კონფერენციის ფარგლებში გაფორმდება ურთიერთანამშრომლობის
        მემორანდუმები საქართველოს კონკურენციის სააგენტოსა და უცხო ქვეყნის
        კონკურენციის ორგანოებთან, ასევე საქართველოს ბიზნესომბუდსმენის
        აპარატთან.</p>
                        </span>
            <!-- </div> -->
        </div>
    </div>
</div>