<div id="section21" class="container-fluid section">
    <div class="container">
        <center>
            <h1><span ng-bind="lang['ProjectTitle']"></span></h1>
        </center>
        <br>
        <center><h4>Example text for about us</h4></center>
        <!-- <div class="row">
            <div class="col-sm-6 no-padding-xs">
                <img src="images/banner.png" alt="EUCA Banner" style="width: 100%" />
            </div>
            <div class="col-sm-6 no-padding-xs">
                <br class="visible-xs" />
                <span class="text-justify" ng-if="activeLang.title=='EN'">
                        <p><strong>“Support to the Georgian Competition Agency”</strong> is a two-year project funded by the European Union. </p>
    <p>With the <strong>overall objective</strong> to enhance the law enforcement capacity and professional skills of the Competition Agency of Georgia, the project aims to support the institutional capacity building, to improve the legal framework and to consolidate effective functioning of the Agency by spreading awareness about its crucial role.</p>
    <p>The project’s results will contribute to a favourable business climate suitable to stimulate trade, to attract foreign investments, to growth of competitive forces in the market and therefore to overall fostering of economic development of Georgia in line with the DCFTA provisions and the EU best practices.</p>
    <p>The EU experts - with an important presence of senior officials working for the Competition Council of the Republic of Lithuania, which is a member of the project implementing Consortium led by B&S Europe - work with local experts to support the Competition Agency of Georgia and other stakeholders. </p>
    <p>The Project’s three main components contribute to: </p>
    <ul>
    <li>Strengthening the efficiency of legal, economic and technical capacities of the Competition Agency to implement and enforce the competition policy, including with regard to enterprises enjoying special and exclusive rights, state enterprises and state aid rules;</li>
    
    <li>Improving the cooperation between the Competition Agency and Sector Regulators; </li>
    
    <li>Promoting a competition culture within the Georgian society. </li>
    </ul>
                        
                        </span>
                <span class="text-justify" ng-if="activeLang.title=='GE'">
                        <p><strong>“საქართველოს კონკურენციის სააგენტოს მხარდაჭერა“</strong> არის ევროკავშირის მიერ დაფინანსებული ორ წლიანი პროექტი, რომლის  <strong>ძირითადი მიზანი</strong> საქართველოს კონკურენციის სააგენტოს მიერ კონკურენციის შესახებ კანონის აღსრულების ეფექტურობის გაზრდა და სააგენტოს თანამშრომელთა კვალიფიკაციის ამაღლებაა. პროექტი ხელს უწყობს ინსტიტუციურ განვითარებას,  არსებული კანონმდებლობის დახვეწას, კონკურენციის სააგენტოს საქმიანობის პროდუქტიულობის ზრდას და სააგენტოს როლის შესახებ ცნობიერების ამაღლებას. </p>
    <p>პროექტის შედეგები მნიშვნელოვანი იქნება ბიზნეს გარემოს გაუმჯობესებისა და ვაჭრობის ზრდისთვის, ასევე უცხოური ინვესტიციების მოზიდვისა და ბაზარზე კონკურენციის გაძლიერებისთვის. შესაბამისად, პროექტი ხელს შეუწყობს ეკონომიკურ განვითარებას ევროკავშირის საუკეთესო გამოცდილების და DCFTA–ს დებულებების თანახმად.</p>
    <p>პროექტს ახორციელებს კონსორციუმი, რომელსაც ხელმძღვანელობს “Business and Strategies Europe.” პროექტის ფარგლებში ევროკავშირის ექსპერტები, მათ შორის ლიტვის რესპუბლიკის კონკურენციის საბჭოს (რომელიც ამავდროულად არის კონსორციუმის წევრი) მაღალი რანგის წარმომადგენლები, ქართველ კოლეგებთან ერთად ეხმარებიან, როგორც საქართველოს კონკურენციის სააგენტოს, ასევე სხვა დაინტერესებულ უწყებებს.  </p>
    <p>კონკრეტული ამოცანების მიხედვით პროექტი სამ ძირითად კომპონენტად იყოფა:</p>
    <ul>
    <li>კონკურენციის სააგენტოს სამართლებრივი, ეკონომიკური და ტექნიკური შესაძლებლობების გაუმჯობესება კონკურენციის პოლიტიკის სათანადო აღსრულებისთვის სხვადასხვა მიმართულებით, მათ შორის, სახელმწიფო საწარმოებთან, სპეციალური ან ექსკლუზიური უფლებების მქონე საწარმოებთან და სახელმწიფო დახმარებასთან დაკავშირებით;</li>
    
    <li>თანამშრომლობის გაძლიერება კონკურენციის სააგენტოსა და დარგობრივ მარეგულირებლებს შორის;</li>
    
    <li>საზოგადოებაში კონკურენციის კულტურის დახვეწა.
    </li>
                        </ul>
                        </span>
            </div>
        </div> -->
    </div>
</div>