<div id="section4" class="section">
    <div class="container">
        <h1><span ng-bind="lang['Contact']"></span></h1>
        <div class="col-sm-4 text-center">
            <h2 class="light-heading" ng-bind="lang['address']"></h2>
            <p ng-bind="lang['addressLine'][0]"></p>
            <p ng-bind="lang['addressLine'][1]"></p>
            <p ng-bind="lang['addressLine'][2]"></p>
        </div>
        <div class="col-sm-4 text-center">
            <h2 class="light-heading" ng-bind="lang['email']"></h2>
            <p>ana.sanikidze@bseurope.com</p>
            <p>salome.kiladze@bseurope.com</p>
        </div>
        <div class="col-sm-4 text-center">
            <h2 class="light-heading" ng-bind="lang['phone']"></h2>
            <p>+ 995 599329492</p>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin: 0; padding: 0">
    <iframe style="width: 100%;" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.140717128695!2d44.788016215895475!3d41.717482279235305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440d2ca6491c91%3A0xaf7ee2728be76dd5!2zMTU0IOGDk-GDkOGDleGDmOGDlyDhg5Dhg6bhg5vhg5Dhg6jhg5Thg5zhg5Thg5Hhg5Thg5rhg5jhg6Eg4YOS4YOQ4YOb4YOW4YOY4YOg4YOYLCDhg5fhg5Hhg5jhg5rhg5jhg6Hhg5g!5e0!3m2!1ska!2sge!4v1515760512730"
        allowfullscreen></iframe>
</div>