<div ng-controller="SliderDataController">
    <div slick class="home-slideshow" speed="1000" autoplay="true">
        <div class="home-slide" ng-repeat="n in sliderData" background-image="url({{n.image}})!important">
            <img class="img-stretch" ng-src="{{n.image}}" />
            <div class="slider-text">
                <h1 ng-bind="n.title[activeLang.title]"></h1>
                <br>
                <p ng-bind="n.article[activeLang.title]"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <center style="padding: 40px;">
        <a href="#" target="_self" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-save"></span> Download Agenda</a>
    </center>
</div>