<div id="home" ng-include="'views/home-content.html'"></div>
<div id="about-us" ng-include="'views/about-us.html'"></div>
<div id="our-speakers" ng-include="'views/our-speakers.html'"></div>
<!-- <div id="multimedia" ng-include="'views/multimedia.html'"></div> -->
<div id="multimedia" ng-include="'views/newsletter.html'"></div>
<div id="publication" ng-include="'views/news.html'"></div>
<!-- <div id="external" ng-include="'views/external.html'"></div> -->
<div id="contact" ng-include="'views/contact.html'"></div>