@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

* {
    outline: none!important;
}

@font-face {
    font-family: caps;
    src: url(../../fonts/BPG_Arial_Caps.ttf);
}


.page-content {
    display: none;
    transform-origin: 0 0;
    height: 100%
}

.loader-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

input.form-control:active {
    box-shadow: none!important;
    outline: none!important;
}

.navbar-nav {
    margin: 0;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a {
    font-weight: bold;
}

body {
    position: relative;
    overflow-x: hidden;
}

.text-justify {
    text-align: justify;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 999 !important;
}

.navbar {
    margin-bottom: 0px;
}

.affix~.container {
    position: relative;
    top: 50px;
}

.carousel-control {
    background-image: none!important;
}

.navbar-default {
    background-color: #092246;
    border-color: #072043;
    border-radius: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.navbar-default .navbar-toggle {
    border-radius: 2px;
    color: #eee;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fbff00;
    background-color: rgba(0, 0, 0, .3);
}

.navbar-default .navbar-nav>li>a {
    /* color: #479aff; */
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus {
    /* color: #78b5ff; */
    color: #fff;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #004996;
}

.dropdown-toggle {
    cursor: pointer;
}

.relative {
    position: relative;
}

.input-gutter-right {
    margin: 6px 0px 16px 0px;
}

.btn-search.disabled {
    pointer-events: none;
}

.input-gutter-right input[type="text"] {
    width: 93%;
}

.light-heading {
    color: #479aff;
    font-weight: 200;
}

.dropdown-menu>li>a {
    color: #004996;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: default;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent;
}


/* fonts */

a,
p,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen', 'BPG Arial', sans-serif;
}

h1,
h2,
h3,
h5,
h6 {
    font-weight: bold
}

h1,
h1>span {
    font-family: "Droid Serif", 'BPG Arial';
}

p {
    font-family: 'Oxygen', 'BPG Arial', sans-serif;
}

h1 {
    font-size: 48px;
    text-align: center;
}

.header-geo, .header-geo>div{
    font-family: caps!important;
}

/* initial */

/* .logo-top {
    width: 100%;
}
.logo-top.right {
    float: right;
    max-width: 100px;
} */

.logo-top {
    width: 100%;
    max-height: 116px;
    max-width: 140px;
}
.eu-text {
    line-height: 116px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    font-weight: normal;
}

.container.top {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative
}

.heading-container {
    color: #092246;
    background: #fff;
    padding: 0
}

.body-content {
    color: #092246;
}

.section>.container {
    padding: 40px 15px;
    border-bottom: 1px solid #dcdcdc;
}

.footer {
    color: #a8a8a8!important;
    background: #092246!important;
    font-size: 12px;
}

.footer-image-content {
    /* display: -webkit-box; */
    position: relative;
    top:50%;
    text-align: center;
}

.footer-image-content>img {
    margin-right: 10px;
}
/* 
.footer-image-content.right {
    float: right;
    margin-right: 40px;
} */

.footer-row {
    padding: 20px;
}


/* home-slideshow */

.home-slideshow {
    position: relative;
    width: 100vw;
    height: calc(100vh - 174px);
    background: #092246;
    overflow: hidden;
}

.img-stretch {
    display: block;
    width: 100vw;
    height: calc(100vh - 174px);
    object-fit: cover;
    z-index: 101;
    opacity: 0.5;
}

.slider-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: calc( 100% - 140px);
    margin: auto;
    color: #fff;
    display: block;
    bottom: calc((100vh - 174px) / 2);
    text-align: justify;
    font-size: 18px;
    margin-bottom: 0;
    bottom: 200px;
}

.slider-text>h1 {
    text-align: left;
}

.slick-prev:before,
.slick-next:before {
    font-size: 36px;
}

.slick-prev {
    left: 20px;
    z-index: 103;
}

.slick-next {
    right: 50px;
    z-index: 103;
}


/* cards */

.card {
    margin-bottom: 30px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: .3s ease all;
}

.card-contents {
    background: #fff;
    padding: 10px 20px;
}

.card-image-wrapper {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.card-image-wrapper.sm {
    height: 150px;
}

.card-image {
    background-size: 100%;
    width: 100%;
    height: 100%;
    transition: .3s ease all;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #092246;
}

.card-title {
    font-size: 18px;
    text-align: center;
    font-family: 'Old Standard TT', 'BPG Arial', serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-date {
    font-size: 12px;
    text-align: center;
    color: #479aff;
}

.card:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .5);
    transition: .3s ease all;
    border-color: #479aff;
}

.card:hover>.card-image-wrapper>.card-image {
    background-size: 120%;
    transition: .3s ease all;
}

.card-image-overlay {
    background: #092246;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease all;
    line-height: 200px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

.card-image-wrapper.sm>.card-image-overlay {
    line-height: 150px;
}

.card:hover>.card-image-wrapper>.card-image-overlay {
    background: #092246;
    background: #0c3d18;
    opacity: .7;
    transition: .3s ease all;
}

.toTop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #004996;
    color: #c5c5c5;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: .3s ease all;
    opacity: 0;
    z-index: 999;
}

.toTop:hover {
    background: #479aff;
    color: #fff;
    transition: .3s ease all;
}

.toTop.show {
    opacity: 1;
}

#search {
    color: #fff;
    font-size: 18px;
    float: left;
    background: transparent;
    border: none;
    margin: 0 5px;
    top: 0;
}

.langs {
    /* position: absolute;
    right: -35px;
    top: 15px; */
    color: #479aff;
    cursor: pointer;
    font-weight: bold;
}

.nav-right-wrapper {
    margin-top: 14px;
    float: right;
    width: 30%;
    display: -webkit-inline-box;
}

.langs:hover {
    color: #3999ff;
}

.langs>div {
    width: 36px;
    height: 24px;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    border: 2px solid #004996;
}

.coverage-link,
.coverage-link:hover {
    text-decoration: none;
}

.external-a>a {
    display: block;
}


/* anchor (goto) */

#section22::before,
#section21::before,
#section31::before,
#section32::before,
#section33::before,
#section34::before,
#section4::before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}

#flag {
    width: 33px;
    height: auto;
    margin-left: 5px;
}

.flagImage {
    width: 30px;
    height: auto;
    margin-left: 5px;
}


/* ------------------------------------------------- */


/* -------------------NEWS DETAILS------------------ */


/* ------------------------------------------------- */

.news-detail .image-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
}

.news-detail img {
    max-width: 40%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    min-height: 236px;
    margin-right: 20px;
    float: left;
    margin-bottom: 30px;
}

.news-detail h3 {
    bottom: 0px;
    margin: 0;
    width: 100%;
    padding: 0 20px;
    border-left: 3px solid;
    margin: 20px 0;
    line-height: 36px;
}

.news-detail .date {
    padding: 30px 0;
    border-top: 1px solid grey;
    text-align: right;
}

.news-detail .date span {
    font-size: 13px;
}

.article-wrapper {
    padding-bottom: 30px;
}

.news-detail p {
    line-height: 24px;
}


/* MODAL */

.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0.8;
    border: none;
}

.modal-content {
    height: 100%;
    border-radius: 0;
    border: 0;
}

.form-wrapper {
    height: 58px;
    width: 52%;
    text-align: center;
    border-radius: 0;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -5%);
    border-bottom: 2px solid #999;
}

button[id="btn-search"] {
    height: 50px;
    background: transparent;
    border: none;
    width: 24px;
    position: absolute;
    left: 0;
    color: #555;
    top: 17px;
    background: url(/images/search.png);
    background-repeat: no-repeat;
}

input[type="search"] {
    height: 50px;
    width: 86%;
    vertical-align: middle;
    white-space: nowrap;
    box-sizing: border-box;
    border: none;
    color: #333;
    font-size: 18px;
    position: absolute;
    top: 4px;
    left: 30px;
    font-family: 'Oxygen';
    background-color: white;
    padding: 12px 20px 12px 10px;
}

.fa-times-thin:before {
    content: '\00d7';
}

button[name="btn-close"] {
    background: transparent;
    border: none;
    font-size: 19px;
    color: #333333;
    position: absolute;
    top: 13px;
    right: 0;
}

input::-ms-clear {
    display: none;
}


/* ------------------------------------------------- */


/* --------------SEARCH RESULTS PAGE---------------- */


/* ------------------------------------------------- */

.search-not-found h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 70px;
    margin-bottom: 200px;
    color: #a8a8a8;
    margin: 150px auto;
}

.search-not-found h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    color: #555;
    font-family: 'Oxygen', 'BPG Arial', sans-serif;
    display: inline;
}

.search-not-found .col-md-6:nth-child(2) {
    padding-top: 200px;
    text-align: center;
    padding-bottom: 200px;
}

.search-found .date {
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.search-found .article-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ------------------------------------------------- */


/* -------------------MEDIA QUERIES----------------- */


/* ------------------------------------------------- */

@media only screen and (max-width: 769px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #479aff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:active,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #78b5ff;
    }
    .navbar-right-wrapper {
        float: right;
    }
    .navbar-right {
        width: 90px;
        top: 13px;
    }
    .eu-text {
        text-align: center;
        line-height: 48px;
    }
    .container.top {
        text-align: center;
    }
    h1 {
        font-size: 32px;
    }
    .footer-image-content.right {
        float: none;
        margin-right: 40px;
    }
    .slider-text {
        max-width: 90%;
        font-size: 14px;
    }
}

@media only screen and (max-width: 992px) {
    .search-not-found .col-md-6:nth-child(2) {
        padding-top: 20px;
        text-align: center;
        padding-bottom: 200px;
    }
}